.about-info{
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 20px;
    color: rgb(48, 47, 47);
    background-color: aliceblue;
    padding: 7em;
    border-radius: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px black dashed;
}