@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #313232 url("../../public/images/background.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
  color: aliceblue;

}

.App {
  display: flex;
  min-height: 98.3vh;
  flex-direction: column;
  justify-content: space-between;
}
