.contact-card {
  /* background-image: url("https://fvmstatic.s3.amazonaws.com/maps/m/US-EPS-02-8001.png"); */
  /* background: #393938; */
  width: 80%;
  height: 40em;
  background-size: cover;
  border-radius: 50px;
  background-position: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px rgb(180, 232, 35) solid */
}

.contact-info a:hover {
  color: aliceblue;
}

.contact-info a {
  text-decoration: underline;
  font-style: italic;
  color: aliceblue;
}

.contact-info {
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  position: absolute;
  top: 45%; left: 50%;
  transform: translate(-50%,-50%);
  width: 250px;
  height: 200px;
}

.email {
  margin-bottom: 2em;
}

.phone {
  margin-bottom: 2em;
}

.location {
  margin-bottom: 2em;
}

.profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.profile-pic {
  border-radius: 40px;
  padding-bottom: 2em;
}
