.footer-bar {
  /* background-color: grey; */
  border-top: 2px solid rgb(180, 232, 35);
  width: 100%;
  margin-bottom: 0.5em;
}

.social-links {
  margin-top: 0.3em;
  text-align: right;
  float: right;
  margin-right: 1em;
}
.social-links a{
  margin-left: .5em;
}

.social-links a:hover{
  color: rgb(180, 232, 35);
}

.self-reg {
  width: 40%;
  float: left;
  margin-top: 1.4em;
  margin-left: 1em;
  font-size: 12px;
}

