.name-heading{
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.position-sub{
    text-align: center;
    font-size: 15px;
    margin: 0;
}

.creative-pic{
    height: 20em;
    width: auto;
    margin-bottom: 4em;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slogan-blob{
    margin-top: 3em;
    text-align: center;
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}