.all-projects{
    padding: 2em;
    text-align: center;
    display: grid;
    text-rendering: optimizeLegibility;
    background-color: rgb(0, 0, 0, 0.5);
}



.all-projects div{
    display: block;
}

.all-projects div img{
    width: 50%;
}
.all-projects div a{
    text-decoration: underline;
}
.all-projects div a:hover{
    color: rgb(180, 232, 35);
}

.learning-projects{
    margin-top: 2em;
    /* border: 1px aliceblue dashed; */
}

/* .live-projects{
    border: 1px aliceblue dashed;
} */