.all-projects{
    padding: 2em;
    text-align: center;
    display: grid;
    text-rendering: optimizeLegibility;
}

.learning-projects{
    margin-top: 2em;
}

.project-card{
    border: 2px solid black;
    display: inline-block;
    width: 20rem;
    margin: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)) padding-box,
    linear-gradient(
        to left,
        aliceblue,
        rgb(180, 232, 35),
        aliceblue,
        rgb(180, 232, 35),
        aliceblue,
        rgb(180, 232, 35)
      )
      border-box;
  border-radius: 1em;
  border: 4px solid transparent;
  /* height: 25rem; */
}

.project-card img{
    max-width: 20rem;
    border-radius: 5%;

}

.project-card a:hover{
    color: rgb(180, 232, 35);
}

.all-projects ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.project-card p{
    text-align: center;
}